@import './src/sass/_variables.scss';
@import './src/sass/typography';

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.voter-wrapper {
  display: flex;
  flex-direction: row;
}

img {
  width: 50px;
}

span {
  @extend .text-bold-italic;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
